$backColor: #151418;
$darkGray: #3b3a3c;
$borderGray: #858686;
$shade: #29292a;

.dashHeader{
  height: 200px;
  position: absolute;
  top: 101px;
  left:12%;
  -webkit-filter: grayscale(70%);
  opacity: 0.65;
}
.dashResultDiv{
  // display: flex;
  // flex-direction: column;
}
.dashResultDiv div:nth-child(even) {
  background-color: $darkGray;

}
.dashResultDiv div:nth-child(odd) {
  color: $borderGray;
}
