$backColor: #151418;
$darkGray: #3b3a3c;
$borderGray: #858686;
$shade: #29292a;
.loginMain {
    text-align: center;
    color: $borderGray;
}
.facebookLoginButton {
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    right: 42%;
}
