$backColor: #151418;
$darkGray: #3b3a3c;
$borderGray: #858686;
$shade: #29292a;
.loginMain {
    text-align: center;
    color: $borderGray;
    font-size: 32px;
}
.facebookLoginButton {
    cursor: pointer;
    bottom: 15%;
    text-align: center;

}
.localLogin {
    width: 100%;
    top: 200px;
    height: 400px;
    padding-left: 650px;
    padding-right: 650px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.localLogin > div > input {
    width: 100%;
    cursor: text;
}
h1 {
    font-family: 'Roboto Mono', sans-serif;
    color: $borderGray;
    text-align: center;
    border: 50px;
    padding: 10px;
}
h3 {
    font-family: 'Roboto Mono', sans-serif;
    color: $borderGray;
    text-align: center;
    border: 50px;
    padding: 10px;
}
.inputBox {
    height: 70px;
    width: 200px;
    text-align: center;

}
input {
    border-radius: 10px;
    width: 150px;
}
