$backColor: #151418;
$darkGray: #3b3a3c;
$borderGray: #858686;
$shade: #29292a;
.dashHeader > img{
  height:200px;
}
.facebookLoginButton {
    cursor: pointer;
    bottom: 20%;
    width: 100%;
}
.centerBox{
  border: 2px solid $borderGray;
  background: radial-gradient($darkGray, $backColor);
  border-radius: 8px;
  width: 205px;
  height: 300px;
  left: 580px;
  top:130px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
}
h1 {
    font-family: 'Roboto Mono', sans-serif;
    color: $borderGray;
    text-align: center;
    border: 30px;
    padding: 10px;
    text-shadow: 1px 1px black;
}
h3 {
    font-family: 'Roboto Mono', sans-serif;
    color: $borderGray;
    text-align: center;
    border: 50px;
    padding: 10px;
}
.inputBox {
    height: 70px;
    width: 200px;
    text-align: center;

}
input {
    border-radius: 10px;
    width: 150px;
}
