$backColor: #151418;
$darkGray: #3b3a3c;
$borderGray: #858686;
$shade: #29292a;
select{
  cursor: pointer;
  font-family: 'Roboto Mono', sans-serif;


}
.resultMain {
    position: absolute;
    top: 220px;
    left: 10px;
}
.filterBox {
  top: 210px;
  position: fixed;
    height: 100px;
    width: 200px;
    background: $darkGray;
    border-radius: 2px;
    border: $borderGray solid 2px;
    text-align: center;
}
.buttonBox {
    height: 60px;
    width: 200px;
    padding-top: 20px;
    padding-left: 5px;
    background: $darkGray;
    border-radius: 2px;
    border-right: $borderGray solid 2px;
    border-left: $borderGray solid 2px;
    border-top: $backColor solid 2px;

}
.resultHeader{
  height: 200px;
  position: absolute;
  top: -110px;
  left:250px;;

}
.resultHeader > img{
  width:100%;
  -webkit-filter: grayscale(70%);
  opacity: 0.65;
}

table{
  border: $borderGray solid 3px;
  width: 900px;
  text-align: left;
  float: left;
  color:white;
}

table:nth-child(even) {
  background-color: $darkGray;

}
table:nth-child(odd) {
  color: $borderGray;
}
td{
  float: left;
  width: 298px;
  height: 70px;
  text-align: center;
  border: 2px solid $borderGray;
  display: flex;
  flex-direction: column;
  justify-content: center;


}
td > input{
  width: 300px;
}
th{
  border: 3px solid white;
  width: 300px;
  text-align: center;
  background:linear-gradient(#5f618f, #3e3246);
  color:white;
}
#playerId{
  width:900px;
}
#buttonId{
  width: 150px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 5px;
}
#personBox{
  border: none;
}
