<div class="addContestHeader">

<h1> Add Contest</h1>
</div>
<div class="mainAddContestBox">



    <div class="addContestOption">
        <input type="text" placeholder="Contest Name">

        <input type="text" placeholder="year">

        <input type="text" placeholder="region">

        <input type="text" placeholder="Player1">

        <input type="text" placeholder="Player2">

        <input type="text" placeholder="Player3">

        <input type="text" placeholder="Player4">
        <input type="text" placeholder="Player5">
        <input type="text" placeholder="Player6">

        <input type="text" placeholder="Player7">
        <input type="text" placeholder="Player8">


        <input id="subButton" type="button" value="submit" ng-click="">


    </div>
</div>
