<div class="dashHeader">
    <img src="./utPic.jpg" alt="Picture of Players at the Utah State Yoyo Contest" />
</div>
<div class="dashResultDiv">




            <table ng-repeat="specifics in user.favorites">

                <td>
                    {{specifics.year}}
                </td>
                <td> {{specifics.contestName}}
                    <button id="buttonId" type="button" ng-click="favUser(item)">Remove</button>
                </td>
                <td>{{specifics.country}}</td>



                <td id="personBox" ng-repeat="person in specifics.player">{{person}}</td>


            </table>


</div>
