<div class="localLogin">

    <div class="centerBox">

        <div class="inputBox">

            <h1>Login</h1>
            <h1>___</h1>
        </div>

        <div class="inputBox">
            <input type="text" name="email" placeholder="email">
        </div>
        <div class="inputBox">


            <input type="password" name="password" placeholder="password">
        </div>
        <div class="inputBox">

            <button type="button" name="button" ui-sref="dashboard">Submit</button>
        </div>
        <div class="inputBox">

            <h3>OR</h3>
        </div>

        <div class="inputBox">

            <div class="facebookLoginButton">
                <a href="/auth/facebook">
                    <img src="./facebook-login.png" alt="" />
                </a>
            </div>
        </div>
    </div>

</div>
