<div class="resultMain">
    <div class="resultHeader">

        <img src="./jtpic.jpg" alt="" />
<table>

        <th>Year</th>
        <th>contest  </th>
        <th>country</th>
      </table>

        <table ng-repeat="item in contests | filter: filterValue">

            <td>{{item.year}}</td>

            <td><input type="checkbox">{{item.contestName}}</td>
            <td>{{item.country}}</td>
            <td id="playerId">{{item.player}}</td>


        </table>
    </div>


    <div class="filterBox">
        <h3>Search</h3>

        <input ng-model="filterValue"></input>
    </div>
    <div class="bottomFilterBox">
      <button type="button">Add to Favorites</button>
    </div>





</div>
