<div class="phonyData">
<div class="resultHeader">

<img src="./jtpic.jpg" alt="" />
</div>
    <div class="box">

        <select class="" name="">
            <option value="Contest">Contest</option>
        </select>
    </div>

    <div class="box">

        <select class="" name="">
            <option value="Division">Division</option>
        </select>
    </div>
    <div class="box">

        <select class="" name="">

            <option value="Player">Player</option>

        </select>

    </div>
    <div class="buttonBox">
        <button type="button" name="button">Get Results</button>
    </div>

    <!-- <ul>
  <li ng-repeat></li>
</ul> -->
</div>
