<div class="phonyData">
    <div class="resultHeader">

        <img src="./jtpic.jpg" alt="" />
    </div>
    <div class="box">

        <select class="" name="">
            <option value="Contest">Contest</option>
        </select>
    </div>

    <div class="box">

        <select class="" name="">
            <option value="Division">Division</option>
            <!-- <option ng-repeat="item in contests">{{item.division}}</option> -->
        </select>
    </div>
    <div class="box">

        <select class="" name="">

            <option value="Player">Player</option>

        </select>

    </div>
    <div class="buttonBox">
        <button type="button" name="button">Get Results</button>
    </div>
    <table class="resultTable">

        <tr ng-repeat="item in contests">
            <td>{{item.year}}</td>
            <td>{{item.contestName}}</td>
            <td>{{item.country}}</td>
            <td>{{item.division}}</td>
    </table>

</div>
